ALLOW_TEST_NIN_BYPASS=
ANTHROPIC_API_KEY=
APP_PORT=
AUTH_SENSITIVE_MAX=
AUTH_SENSITIVE_WINDOW_MS=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CONTACT_FORM_MAX=
CONTACT_FORM_WINDOW_MS=
COOKIE_AUTH_STRICT=
COOKIE_DOMAIN=
CORS_ALLOWED_ORIGINS=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
EMAIL_FROM=
EMAIL_REPLY_TO=
FRONTEND_URL=
GOOGLE_INDEXING_KEY_FILE=
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=
GSC_KEY_FILE=
GSC_SITE_URL=
INTL_NUMBER=
JWT_EXPIRY=
JWT_SECRET=
MONGODB_URI=
NIGERIA_NUMBER=
NIGERIA_SIP_TRUNK_MATCH=
NIMC_API_KEY=
NIMC_API_TIMEOUT_MS=
NIMC_API_URL=
NIMC_AUTH_SCHEME=
NIMC_TEST_NIN=
NIN_ENCRYPTION_KEY=
OUTBOUND_CALLER_ID=
PASSPORT_API_KEY=
PASSPORT_API_TIMEOUT_MS=
PASSPORT_API_URL=
PASSPORT_AUTH_SCHEME=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PREMBLY_API_KEY=
PREMBLY_API_TIMEOUT_MS=
PREMBLY_API_URL=
PREMBLY_APP_ID=
PREMBLY_RECOVERY_BATCH_SIZE=
PREMBLY_RECOVERY_INTERVAL_MS=
PREMBLY_WEBHOOK_BASE_URL=
PRODUCTION_FRONTEND_URL=
REACT_APP_API_URL=
REACT_APP_GOOGLE_MAPS_KEY=
REACT_APP_PAYSTACK_PUBLIC_KEY=
REACT_APP_TURNSTILE_SITE_KEY=
RECRUITMENT_ACCESS_CODE_KEY=
RECRUITMENT_INTERVIEW_PING_STALE_SECONDS=
RECRUITMENT_MIN_ANSWER_SECONDS=
RECRUITMENT_QUESTION_GRACE_SECONDS=
RECRUITMENT_QUESTION_TIME_LIMIT_SECONDS=
RECRUITMENT_RECORDING_UPLOAD_GRACE_MINUTES=
RECRUITMENT_SESSION_CAP_MINUTES=
RECRUITMENT_SESSION_INACTIVITY_MINUTES=
RECRUITMENT_SESSION_SCAN_CRON=
RESEND_API_KEY=
RETURN_AUTH_TOKEN_IN_BODY=
SALES_BACKUP_NUMBER=
SEO_RANKING_COUNTRY=
SEO_RANKING_KEYWORDS=
SEO_RANKING_LANGUAGE=
SEO_RANKING_SEARCH_DEPTH=
SEO_RANKING_TARGET_URL=
SERP_API_KEY=
SMS_FALLBACK_AFTER_SECONDS=
SMS_FALLBACK_CRON=
SMS_PROVIDER_ORDER=
SMS_STATUS_CALLBACK_BASE_URL=
SMS_TIMEOUT_FALLBACK_ENABLED=
SMS_TIMEOUT_MS=
SMS_WEBHOOK_SECRET=
TERMII_API_KEY=
TERMII_BASE_URL=
TERMII_CHANNEL=
TERMII_SENDER_ID=
TOLL_FREE_NUMBER=
TRUST_PROXY_COUNT=
TURNSTILE_SECRET_KEY=
TURNSTILE_SITEVERIFY_TIMEOUT_MS=
TURNSTILE_SITE_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_API_KEY=
TWILIO_API_SECRET=
TWILIO_AUTH_TOKEN=
TWILIO_TWIML_APP_SID=
TWILIO_WEBHOOK_BASE_URL=
VOICE_ADS_ENABLED=
VOICE_AD_AUDIO_URLS=
VOICE_AGENT_IDENTITIES=
VOICE_ESCALATION_DEPARTMENTS=
VOICE_HOLD_MUSIC_URL=
VOICE_HOLIDAY_DAYS=
VOICE_QUEUE_ANNOUNCEMENT=
VOICE_QUEUE_NAME=
VOICE_RECORD_CALLS=
VOICE_SUPPORT_HOURS_END=
VOICE_SUPPORT_HOURS_START=
VOICE_SUPPORT_TIMEZONE=
VOICE_TOKEN_MAX=
VOICE_TOKEN_WINDOW_MS=
WHATSAPP_META_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_PROVIDER=